# Compiled class files
*.class

# Java build folders
bin/
out/

# Python cache
__pycache__/
*.py[cod]

# C++ build
build/
*.o
*.obj

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store

# Node (if ever used)
node_modules/

# Logs
*.log
